<% include partials/header %>
	<!-- BEGIN PAGE -->
	<div class="page-content">

			<!-- BEGIN PAGE CONTAINER-->
			<div class="container-fluid">
				<!-- BEGIN PAGE HEADER-->
				<div class="row-fluid">
					<div class="span12">
						<h3>Catálogos contable</h3>
					</div>
				</div>
			</div>
			<!-- listado de catalogos ya definidos -->
			<!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->
			<div id="modalAccountingCatalog" class="modal container hide fade">
				<div class="modal-header">
					<button data-dismiss="modal" class="close" type="button">X</button>
					<h3 id='titleCatalog'>Definir catálogo contable</h3>
				</div>
				<div class="modal-body">
					<form id="accountingCatalog" >
						<input type="hidden" name="accId" id="accId" >
						<div class="row-fluid">
							<div class="control-group span6 ">
								<label for="accCode">
									Empresa
								</label>
								<div class="controls">
									<input type="text" name="accCode" id="accCode" class="m-wrap span12" placeholder="Número" maxlength="4">
								</div>
							</div>							
						</div>
						<div class="row-fluid">
							<div class="control-group span6">
								<label for="accName">
									Catálogo contable a utilizar
								</label>
								<div class="controls">
									<input type="text" name="accName" id="accName" class="m-wrap span12" placeholder="Nombre" maxlength="60">
								</div>
							</div>
							<div class="control-group span6 ">
								<!-- <label for="accIsGlobal">
									Tipo
								</label>
								<div class="controls">
									<select id="accIsGlobal" name="accIsGlobal">
										<option value="0">Individual</option>
										<option value="1">Global</option>
									</select>
								</div> -->
							</div>
						</div>							
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn dark btn-outline" data-dismiss="modal">Cerrar</button>
					<button type="button" class="btn green" onclick="fnAccountingCatalog()">Guardar</button>
				</div>
			</div>
	</div>
<% include partials/footer %>