<% include partials/header %>
	<!-- BEGIN PAGE -->
	<div class="page-content">

			<!-- BEGIN PAGE CONTAINER-->
			<div class="container-fluid">
				<!-- BEGIN PAGE HEADER-->
				<div class="row-fluid">
					<div class="span12">
						<h3>Bienvenido</h3>
					</div>
				</div>
			</div>

			
	</div>
<% include partials/footer %>