<% include partials/header %>
	<!-- BEGIN PAGE -->
	<div class="page-content">
			<!-- BEGIN PAGE CONTAINER-->
			<div class="container-fluid">
				<!-- BEGIN PAGE HEADER-->
				<div class="row-fluid">
					<div class="span12">
						<h3>Mantenimiento de cuentas contables</h3>
					</div>
				</div>

				<div class="row-fluid">
						<div class="span12">
							<!-- BEGIN EXAMPLE TABLE PORTLET-->
							<div class="portlet box light-grey">
								<div class="portlet-title">
									
								</div>
								<div class="portlet-body">									
                                    <form id="accountingAccount" name="accountingAccount" action="#">                                        
                                        <input type="hidden" name="aacId" id="aacId" value="">
                                        <input type="hidden" name="aacNivelFirst" id="aacNivelFirst" value="">                                        
                                        <input type="hidden" name="aacCodeToSave" id="aacCodeToSave" value="">
                                        <input type="hidden" name="aacNivelBefore" id="aacNivelBefore" value="">
                                        <input type="hidden" name="levelToSave" id="levelToSave" value="1">                                        
                                        <div class="row-fluid">
                                            <div class="control-group span5 ">
                                                <div class="row-fluid">
                                                    <div class="control-group span5 ">
                                                        <label for="accCode">
                                                            Empresa
                                                        </label>
                                                        <div class="controls">
                                                            <% if(business.length == 0) { %>   
                                                                No hay empresas disponibles
                                                            <%} else {%>
                                                            <select id="busId" name="busId" class="span12 select2" tabindex=1>   
                                                                <% for(var j = 0; j < business.length; j++) { %>   
                                                                    <option value="<%=business[j].busId%>"> <%=business[j].busName%></option>
                                                                <% }%>
                                                            </select>
                                                            <% }%>
                                                        </div>
                                                    </div> 
                                                    <div class="control-group span7 ">                                                                                                                                                   
                                                    </div>                                           
                                                </div>
                                                <div class="row-fluid">
                                                    <div class="control-group span6 ">
                                                        <input type="hidden" value="" name="accId" id="accId">
                                                        <label for="accCode">
                                                            Catálogo contable
                                                        </label>
                                                        <div class="controls" id="accIdName">                                                    
                                                        </div>
                                                    </div>	
                                                    <div class="control-group span6 ">
                                                        <label for="accCode">
                                                            Tipo de catálogo
                                                        </label>
                                                        <div class="controls" id="accIsGlobal">                                                    
                                                        </div>
                                                    </div>						
                                                </div>
                                                <div class="row-fluid">
                                                    <div class="control-group span6 ">
                                                        <label for="accCode">
                                                            Tipo de ingreso
                                                        </label>
                                                        <div class="controls" > 
                                                            <select id="aacDirection" name="aacDirection" class="span10 select2" tabindex=2>    
                                                                <option value="1">Horizontal</option>                                                    
                                                                <option value="2">Vertical</option>                                                        
                                                            </select>                                                       
                                                        </div>                                              
                                                    </div>
                                                </div>
                                                <div class="row-fluid">
                                                    <div class="control-group span12 ">                                                        
                                                       <a href="/static/Importar_Cuentas.xls" class="btn span6" target="_blank" >Descargar plantilla <i class="icon-download-alt"></i></a> 
                                                       <a class="btn green span6" onclick="$('#modalImportFile').modal('show');">Importar cuentas contables <i class="icon-upload-alt"></i></a> 
                                                    </div>
                                                </div>  
                                                <div class="row-fluid" id="horizontal1">
                                                    <div class="control-group span12 ">
                                                        <label for="accCode">
                                                            Código de cuenta
                                                        </label>
                                                        <div class="controls"> 
                                                            <input type="text" name="aacCode" id="aacCode" class="span11"  />                                                
                                                        </div>
                                                    </div>	
                                                </div>
                                                <div class="row-fluid" id="horizontal2">
                                                    <div class="control-group span12 ">
                                                        <label for="accCode">
                                                            Nombre de la cuenta
                                                        </label>
                                                        <div class="controls" >  
                                                            <input type="text" name="aacName" id="aacName" class="span11" style="text-transform: uppercase" />                                                  
                                                        </div>
                                                    </div>							
                                                </div>
                                                <div class="row-fluid" id="vertical1">
                                                    <div class="control-group span7  ">
                                                    
                                                    </div>
                                                    <div class="control-group span4 ">
                                                        <label  >
                                                            Nombre de la cuenta
                                                        </label>
                                                    </div>							
                                                </div>
                                                <div class="row-fluid" id="vertical2">
                                                    <div class="control-group span4 ">
                                                        <label class="span12 labelTextNivel" style="padding-left: 13px;" id="labelTextNivel1">
                                                            Nivel 1
                                                        </label>
                                                        <label class="span12 labelTextNivel" id="labelTextNivel2">
                                                            Nivel 2
                                                        </label>
                                                        <label class="span12 labelTextNivel" id="labelTextNivel3">
                                                            Nivel 3
                                                        </label>
                                                        <label class="span12 labelTextNivel" id="labelTextNivel4">
                                                            Nivel 4
                                                        </label>
                                                        <label class="span12 labelTextNivel" id="labelTextNivel5">
                                                            Nivel 5
                                                        </label>
                                                        <label class="span12 labelTextNivel" id="labelTextNivel6">
                                                            Nivel 6
                                                        </label>
                                                        <label class="span12 labelTextNivel" id="labelTextNivel7">
                                                            Nivel 7
                                                        </label>
                                                        <label class="span12 labelTextNivel" id="labelTextNivel8">
                                                            Nivel 8
                                                        </label>
                                                        <label class="span12 labelTextNivel" id="labelTextNivel9">
                                                            Nivel 9
                                                        </label>	
                                                        <label class="span12 labelTextNivel" id="labelTextNivel10">
                                                            Nivel 10
                                                        </label>
                                                        <label class="span12 labelTextNivel" id="labelTextNivel11">
                                                            Nivel 11
                                                        </label>
                                                        <label class="span12 labelTextNivel" id="labelTextNivel12">
                                                            Nivel 12
                                                        </label>
                                                    </div>
                                                    <div class="control-group span2 ">
                                                        <input type="text" name="accNivel1" id="accNivel1" class="m-wrap span12 numeric" placeholder="Dígitos" tabindex=3 position=1>										
                                                        <input type="text" name="accNivel2" id="accNivel2" class="m-wrap span12 numeric" placeholder="Dígitos" tabindex=5 position=2>
                                                        <input type="text" name="accNivel3" id="accNivel3" class="m-wrap span12 numeric" placeholder="Dígitos" tabindex=7 position=3>										
                                                        <input type="text" name="accNivel4" id="accNivel4" class="m-wrap span12 numeric" placeholder="Dígitos" tabindex=9 position=4>
                                                        <input type="text" name="accNivel5" id="accNivel5" class="m-wrap span12 numeric" placeholder="Dígitos" tabindex=11 position=5>										
                                                        <input type="text" name="accNivel6" id="accNivel6" class="m-wrap span12 numeric" placeholder="Dígitos" tabindex=13 position=6>
                                                        <input type="text" name="accNivel7" id="accNivel7" class="m-wrap span12 numeric" placeholder="Dígitos" tabindex=15 position=7>										
                                                        <input type="text" name="accNivel8" id="accNivel8" class="m-wrap span12 numeric" placeholder="Dígitos" tabindex=17 position=8>
                                                        <input type="text" name="accNivel9" id="accNivel9" class="m-wrap span12 numeric" placeholder="Dígitos" tabindex=19 position=9>										
                                                        <input type="text" name="accNivel10" id="accNivel10" class="m-wrap span12 numeric" placeholder="Dígitos" tabindex=21 position=10>										
                                                        <input type="text" name="accNivel11" id="accNivel11" class="m-wrap span12 numeric" placeholder="Dígitos" tabindex=23 position=11>										
                                                        <input type="text" name="accNivel12" id="accNivel12" class="m-wrap span12 numeric" placeholder="Dígitos" tabindex=26 position=12>                                            
                                                    </div>
                                                    <div class="control-group span6 ">
                                                        <input type="text" id="accName1" name="accName1" class="m-wrap span12" maxlength="30" style="text-transform: uppercase" tabindex=4>										
                                                        <input type="text" id="accName2" name="accName2" class="m-wrap span12" maxlength="30" style="text-transform: uppercase" tabindex=6>
                                                        <input type="text" id="accName3" name="accName3" class="m-wrap span12" maxlength="30" style="text-transform: uppercase" tabindex=8>										
                                                        <input type="text" id="accName4" name="accName4" class="m-wrap span12" maxlength="30" style="text-transform: uppercase" tabindex=10>	
                                                        <input type="text" id="accName5" name="accName5" class="m-wrap span12" maxlength="30" style="text-transform: uppercase" tabindex=12>										
                                                        <input type="text" id="accName6" name="accName6" class="m-wrap span12" maxlength="30" style="text-transform: uppercase" tabindex=14>	
                                                        <input type="text" id="accName7" name="accName7" class="m-wrap span12" maxlength="30" style="text-transform: uppercase" tabindex=16>										
                                                        <input type="text" id="accName8" name="accName8" class="m-wrap span12" maxlength="30" style="text-transform: uppercase" tabindex=18>	
                                                        <input type="text" id="accName9" name="accName9" class="m-wrap span12" maxlength="30" style="text-transform: uppercase" tabindex=20>										
                                                        <input type="text" id="accName10" name="accName10" class="m-wrap span12" maxlength="30" style="text-transform: uppercase" tabindex=22>	
                                                        <input type="text" id="accName11" name="accName11" class="m-wrap span12" maxlength="30" style="text-transform: uppercase" tabindex=24>										
                                                        <input type="text" id="accName12" name="accName12" class="m-wrap span12" maxlength="30" style="text-transform: uppercase" tabindex=26>											
                                                    </div>								
                                                </div>
                                                <div class="row-fluid">
                                                    <div class="control-group span6 ">
                                                        <label for="accCode">
                                                            Tipo cuenta
                                                        </label>
                                                        <div class="controls" >  
                                                            <select id="aacType" name="aacType" class="span10 select2">
                                                                <option value="1">Activo</option>
                                                                <option value="2">Pasivo</option>
                                                                <option value="3">Patrimonio</option>
                                                                <option value="4">Ingresos</option>
                                                                <option value="5">Costos Ventas</option>
                                                                <option value="6">Gastos</option>
                                                                <option value="7">Costos Producción</option>
                                                            </select>                                               
                                                        </div>
                                                    </div>
                                                    <div class="control-group span6 ">
                                                        <label  >
                                                        Tipo Saldo
                                                        </label>
                                                        <div class="controls" >  
                                                            <select id="aacTypeBalance" name="aacTypeBalance" class="span7 select2">
                                                                <option value="1">Deudor</option>
                                                                <option value="2">Acreedor</option>
                                                            </select>                                                  
                                                        </div>
                                                    </div>
                                                    <div class="row-fluid">
                                                        <div class="control-group span6 ">
                                                            <label for="accCode">
                                                                Moneda
                                                            </label>
                                                            <div class="controls" >  
                                                                <select id="aacMoney" name="aacMoney" class="span10 select2">
                                                                    <% for(var j = 0; j < moneyTypes.length; j++) { %>   
                                                                        <option value="<%=moneyTypes[j].monId%>"> <%=moneyTypes[j].monName%></option>
                                                                    <% }%>
                                                                </select>                                               
                                                            </div>
                                                        </div>
                                                        <div class="control-group span4 " id="divStatus" > 
                                                            <label for="accCode">
                                                                Estado
                                                            </label>
                                                            <div class="controls"  id="divStatusText" >  
                                                                                                              
                                                            </div>                                                 
                                                        </div>
                                                    </div>
                                                    <div class="row-fluid">
                                                        <div class="control-group span11 ">
                                                            <label for="accCode">
                                                                Funcionalidad
                                                            </label>
                                                            <div class="controls" >  
                                                                <textarea id="aacFuncionality" name="aacFuncionality" class="span12">                                                           
                                                                </textarea>                                               
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row-fluid">
                                                        <div class="control-group span11 ">
                                                            <label for="accCode">
                                                                Observaciones
                                                            </label>
                                                            <div class="controls" >  
                                                                <textarea id="aacObservations" name="aacObservations" class="span12">                                                           
                                                                </textarea>                                               
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row-fluid">
                                                        <!-- <div class="control-group span2 "> 
                                                        </div> -->
                                                        <div class="control-group span6 "> 
                                                            <button id="deleteButton"  type="button" class="btn red span6" onclick="fnDeleteConfirm()"><i class="icon-off" style="padding-right: 7px;"></i>Eliminar</button>   
                                                            <button id="activeButton" type="button" class="btn green span6" onclick="fnInactive(1)"><i class="icon-ok-circle" style="padding-right: 7px;"></i>Activar</button>  
                                                            <button id="inactiveButton" type="button" class="btn red span6" onclick="fnInactive(0)"><i class="icon-ban-circle" style="padding-right: 7px;"></i>Inactivar</button>                                                                                                 
                                                        </div>
                                                        <div class="control-group span6 ">   
                                                            <button type="button" class="btn green span6" onclick="fnSaveAccountingAccount()"><i class="icon-ok" style="padding-right: 7px;"></i>Guardar</button>                                               
                                                            <button type="button" class="btn span6" onclick="clean()"><i class="icon-refresh" style="padding-right: 7px;"></i>Cancelar</button>                                               
                                                        </div>
                                                    </div>								
                                                </div>
                                            </div>
                                            <div class="control-group span7 " style="height: 420px;">
                                                <div class="btn-group  span2">
                                                    <button id="exporttable" type="button" class="btn ">Exportar a Excel <i class="icon-angle-down"></i>
                                                    </button>
                                                    <!-- <ul class="dropdown-menu pull-right">
                                                        <li><a href="#">Print</a></li>
                                                        <li><a href="#">Save as PDF</a></li>
                                                        <li><a href="#">Export to Excel</a></li>
                                                    </ul> -->
                                                </div>
                                                   <table id="listAsignPermit" class="table table-striped" 
                                                        data-side-pagination="server"
                                                        data-pagination="true"
                                                        data-page-size="10"
                                                        data-page-list="[10, 20, 30]"
                                                        data-search="true">
                                                    </table>
                                            </div>
                                        </div>
                                    </form>
									
								</div>
							</div>
							<!-- END EXAMPLE TABLE PORTLET-->
						</div>
					</div>
			</div>
			
    </div>	
        <!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->
        <div id="modalImportFile" class="modal hide fade">
            <div class="modal-header">
                <button data-dismiss="modal" class="close" type="button" onclick="cleanLoadfile()">X</button>
                <h3 id='titleCatalog'>Importar cuentas contables </h3>
            </div>
            <div class="modal-body">
                <form name="sendNewFile" id="sendNewFile"  enctype="multipart/form-data" >
                    <div class="row-fluid">
                        <div class="control-group span6 ">
                            <label for="accCode">
                                Seleccione el archivo por importar
                            </label>
                            <div class="controls">
                                <input id="newFile" name="newFile" class="file" type="file" accept=".xls, .xsls" data-initial-Caption="Archivo XLS">
                            </div>
                        </div>							
                    </div>						
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn dark btn-outline" data-dismiss="modal" onclick="cleanLoadfile()">Cerrar</button>
                <button type="button" class="btn green" onclick="loadFile()">Guardar</button>
            </div>
        </div>

<% include partials/footer %>
<script type="text/javascript">
    var jsonData
    var accSeparator
	$(document).ready(function(){
        $('#busId').select2({});
        $('#aacType').select2({});
        $('#aacTypeBalance').select2({});
        $('#aacMoney').select2({});   
        $('#aacDirection').select2({});
        $("#busId, #aacType, #aacTypeBalance, #aacMoney, #aacDirection").on("select2-opening", function() {
			$('.select2').select2("close");
		});
        $('#inactiveButton').hide()
        $('#activeButton').hide()
        $('#deleteButton').hide()        
        $('#divStatus').hide()
        aacDirection()
        
             
        <% if(business.length != 0) { %>
            fnGetCatalog();	
            setTimeout(function(){ handleTableData(); $("#listAsignPermit").removeClass('table-hover');}, 300);   
            setTimeout(function(){ $('.search input').attr('placeholder','Buscar por código o nombre')   }, 500);      
        <% }%>
	});
    isFirtsDatatable = true;
    $("#exporttable").click(function(e){
        var table = $("#listAsignPermit");
        table.tableExport()
    });
	function handleTableData() {
		$('#listAsignPermit').bootstrapTable({
			height: 645,
			method: 'GET',
			url: '/contab/getAccountingAccount/'+$('#accId').val(),
            cache: false,
            showExport: true,
            // exportDataType: $(this).val(),
            exportTypes: ['json', 'csv', 'excel'],
			columns: [
				{
					field: 'aacCode',
					title: 'Código cuenta',
					sortable: true,
					//width: '22%'
				}, {
					field: 'aacName',
					title: 'Nombre',
					sortable: true,
                    //width: '17%',
                    // formatter: operateFormatterAacName
				}, {
					field: 'aacType',
					title: 'Tipo',
					sortable: false,
                   // width: '3%',
					formatter: operateFormatter
				}, {
					field: 'aacTypeBalance',
					title: 'Tipo saldo',
					sortable: false,
                   // width: '2%',
                    formatter: operateFormatter2
				}, {
					field: 'aacId',
					title: 'Editar',
					sortable: false,
					//width: '4%',
					formatter: operateFormatterEdit
				}
                
            ]
		});
    };
    function operateFormatterAacName(value, row, index) {
        data = row.aacName.substring(0, 18  );
        if(row.aacName.length> 18){
            data = data +'...'
        }
        return [
            data
        ].join('');
    }
    function operateFormatterEdit(value, row, index) {
        return [
            "<button type='button' class='btn green' ",
            " onclick='seeData("+row.aacId+", "+index+")'>",
            "<i class='icon-pencil'></i> Editar ",
            "</button>"
        ].join('');
    }
    function seeData(aacId, index){
        // console.log($('#listAsignPermit').bootstrapTable('getData')[index])
        console.log(aacId)
        $('#aacId').val(aacId)
        /// catalogo ????
        $('#aacCode').val($('#listAsignPermit').bootstrapTable('getData')[index].aacCode)
        $('#aacCodeToSave').val($('#listAsignPermit').bootstrapTable('getData')[index].aacCode)
        
        $('#aacName').val($('#listAsignPermit').bootstrapTable('getData')[index].aacName)

        $('#aacType').val($('#listAsignPermit').bootstrapTable('getData')[index].aacType).trigger('change');
        $('#aacTypeBalance').val($('#listAsignPermit').bootstrapTable('getData')[index].aacTypeBalance).trigger('change');
        $('#aacMoney').val($('#listAsignPermit').bootstrapTable('getData')[index].aacMoney).trigger('change');
        $('#aacFuncionality').val($('#listAsignPermit').bootstrapTable('getData')[index].aacFuncionality)
        $('#aacObservations').val($('#listAsignPermit').bootstrapTable('getData')[index].aacObservations)
        $('#divStatus').show()
        $('#deleteButton').show()
        if($('#listAsignPermit').bootstrapTable('getData')[index].aacStatus ==1){
            $('#inactiveButton').show()
            $('#activeButton').hide()
            $('#divStatusText').html('Activa')
        }
        else{
            $('#activeButton').show()
            $('#inactiveButton').hide()
            $('#divStatusText').html('Inactiva')
        }
        
        putMask($('#aacCode').val())
        if($('#aacDirection').val() == 1){

        }
        else{
            //vertical
            loadDataVertical($('#aacCode').val())
            level = $('#levelToSave').val()*1+1
            for(var a=level;  a<13; a++){																	
                $('#accNivel'+a).val('')
                $('#accName'+a).val('')	
                $('#accNivel'+a).prop( "disabled", true );
                $('#accName'+a).prop( "disabled", true );      		
            }
        }

        if($('#levelToSave').val()!=1){
            $('#aacType').attr('disabled',true).trigger('change');
        }
        else{
            $('#aacType').attr('disabled',false).trigger('change');
        }
        
    }
	function getHeight() {
		return $(window).height();
    }
    
    function operateFormatter(value, row, index) {
        aacType=''
        if(row.aacType== 1){
            aacType ='Activo'
        }
        else if(row.aacType== 2){
            aacType ='Pasivo'
        }
        else if(row.aacType== 3){
            aacType ='Patrimonio'
        }
        else if(row.aacType== 4){
            aacType ='Ingresos'
        }
        else if(row.aacType== 5){
            aacType ='Costos Ventas'
        }
        else if(row.aacType== 6){
            aacType ='Gastos'
        }
        else{
            aacType ='Costos Producción'
        }
        return [
            aacType,
        ].join('');
    }
    function operateFormatter2(value, row, index) {       
        return [
            ((row.aacTypeBalance == 1) ? "Deudor" : "Acreedor"),
        ].join('');
    }

    function refreshTable() {
        //$('#listAsignPermit').bootstrapTable('refresh',{url: '/contab/getAccountingAccount/'+$('#accId').val()});
        $('#listAsignPermit').bootstrapTable('refreshOptions', {url: '/contab/getAccountingAccount/'+$('#accId').val()});
    }

    function fnInactive(status){
        //agregar un confirm??
        $.ajax({
            type: "POST",
			url: "/contab/activeInactiveAccount/"+$('#accId').val()+"?status="+status+"&aacCode="+$('#aacCodeToSave').val(),		
            beforeSend: function(){ //se muestra una imagen mientras el ajax se ejecuta
                showIsLoading("Procesando...");
            }
        }).done(function (data) {	
            hideIsLoading();
            clean();
            refreshTable();
        }).fail(function (data) {
            clean()	
            hideIsLoading();
            fnOpenErrorDialog(data.responseJSON.message);
        }).always(function (data) {
            hideIsLoading();
        }); 
    }

    // opcion 1 
	function fnGetCatalog(){
		$.ajax({
            type: "GET",
			url: "/contab/getCatalog/"+$('#busId').val(),		
            beforeSend: function(){ //se muestra una imagen mientras el ajax se ejecuta
                showIsLoading("Procesando...");
            }
        }).done(function (data) {	
            hideIsLoading();
            clean()	
            showData(data)
        }).fail(function (data) {
            clean()	
            hideIsLoading();
            fnOpenErrorDialog(data.responseJSON.message);
        }).always(function (data) {
            hideIsLoading();
        });
    }

    function aacDirection(){
        clean()
        if($('#aacDirection').val() == 1){
            $('#vertical1').hide();
            $('#vertical2').hide();
            $('#horizontal1').show();
            $('#horizontal2').show();
        }
        else{
            $('#vertical1').show();
            $('#vertical2').show();
            $('#horizontal1').hide();
            $('#horizontal2').hide();
        }
    }
    $('#aacDirection').change(function (){        
        aacDirection()
    })
    $('#busId').change(function (){
        $.ajax({
            type: "GET",
			url: "/contab/getCatalog/"+$('#busId').val(),			
            beforeSend: function(){ //se muestra una imagen mientras el ajax se ejecuta
                showIsLoading("Procesando...");
            }
        }).done(function (data) {
            clean()		
            hideIsLoading();                
            showData(data)
            refreshTable()
        }).fail(function (data) {
            hideIsLoading();
            fnOpenErrorDialog(data.responseJSON.message);
            //deberia inhabilitar todos los campos
        }).always(function (data) {
            hideIsLoading();
        });
    })

    function showData(data){
        $('#accId').val(data.accountCatalog.accId);
        jsonData = JSON.parse(data.accountCatalog.accNivels)
        accQuantityNivels = data.accountCatalog.accQuantityNivels
        accSeparator = data.accountCatalog.accSeparator        
        $('#accIdName').html(data.accountCatalog.accName);
        if(data.accountCatalog.accIsGlobal==1){
            $('#accIsGlobal').html('Global')
        }
        else{
            $('#accIsGlobal').html('Individual')
        }

        for(var a=1;  a<=accQuantityNivels; a++){																	
            $('#accNivel'+a).val('')	
            $('#accName'+a).val('')	
            $('#accNivel'+a).show()
            $('#accName'+a).show()
            $('#labelTextNivel'+a).show()	
            if(a>1){
                $('#accNivel'+a).prop( "disabled", true );
                $('#accName'+a).prop( "disabled", true );
            }	
        }
        if(accQuantityNivels<13){
            newlimit = accQuantityNivels +1;
            for(var a=newlimit;  a<13; a++){																	
                $('#accNivel'+a).hide()
                $('#labelTextNivel'+a).hide()
                $('#accName'+a).hide()			
            }
        }
        $('#labelTextNivel1').html(jsonData.accName1)
        $('#labelTextNivel2').html(jsonData.accName2)
        $('#labelTextNivel3').html(jsonData.accName3)
        $('#labelTextNivel4').html(jsonData.accName4)
        $('#labelTextNivel5').html(jsonData.accName5)
        $('#labelTextNivel6').html(jsonData.accName6)
        $('#labelTextNivel7').html(jsonData.accName7)
        $('#labelTextNivel8').html(jsonData.accName8)
        $('#labelTextNivel9').html(jsonData.accName9)
        $('#labelTextNivel10').html(jsonData.accName10)
        $('#labelTextNivel11').html(jsonData.accName11)
        $('#labelTextNivel12').html(jsonData.accName12)	

        // queda pendiente lo de nombre de la cuenta??? y el length
        //crear la mascara
        dataMask = ''
        for(var a=1;  a<=jsonData.accNivel1; a++){																	
            dataMask = dataMask+'9'		
        }
        if(jsonData.accNivel2){
            dataMask = dataMask+accSeparator
            for(var a=1;  a<=jsonData.accNivel2; a++){																	
                dataMask = dataMask+'9'		
            }
        }
        if(jsonData.accNivel3){
            dataMask=dataMask+accSeparator
            for(var a=1;  a<=jsonData.accNivel3; a++){																	
                dataMask = dataMask+'9'		
            }
        }
        if(jsonData.accNivel4){
            dataMask=dataMask+accSeparator
            for(var a=1;  a<=jsonData.accNivel4; a++){																	
                dataMask = dataMask+'9'		
            }
        }
        if(jsonData.accNivel5){
            dataMask=dataMask+accSeparator
            for(var a=1;  a<=jsonData.accNivel5; a++){																	
                dataMask = dataMask+'9'		
            }
        }
        if(jsonData.accNivel6){
            dataMask = dataMask+accSeparator
            for(var a=1;  a<=jsonData.accNivel6; a++){																	
                dataMask = dataMask+'9'		
            }
        }
        if(jsonData.accNivel7){
            dataMask=dataMask+accSeparator
            for(var a=1;  a<=jsonData.accNivel7; a++){																	
                dataMask = dataMask+'9'		
            }
        }
        if(jsonData.accNivel8){
            dataMask=dataMask+accSeparator
            for(var a=1;  a<=jsonData.accNivel8; a++){																	
                dataMask = dataMask+'9'		
            }
        }
        if(jsonData.accNivel9){
            dataMask=dataMask+accSeparator
            for(var a=1;  a<=jsonData.accNivel9; a++){																	
                dataMask = dataMask+'9'		
            }
        }
        if(jsonData.accNivel10){
            dataMask=dataMask+accSeparator
            for(var a=1;  a<=jsonData.accNivel10; a++){																	
                dataMask = dataMask+'9'		
            }
        }
        if(jsonData.accNivel11){
            dataMask=dataMask+accSeparator
            for(var a=1;  a<=jsonData.accNivel11; a++){																	
                dataMask = dataMask+'9'		
            }
        }
        if(jsonData.accNivel12){
            dataMask=dataMask+accSeparator
            for(var a=1;  a<=jsonData.accNivel12; a++){																	
                dataMask = dataMask+'9'		
            }
        }
        
        $("#aacCode").inputmask("mask", {"mask": dataMask, "clearIncomplete": false ,'removeMaskOnSubmit': true, 'autoUnmask': true,});
        // el length
        $("#accNivel1").attr('maxlength',jsonData.accNivel1);
        $("#accNivel2").attr('maxlength',jsonData.accNivel2);
        $("#accNivel3").attr('maxlength',jsonData.accNivel3);
        $("#accNivel4").attr('maxlength',jsonData.accNivel4);
        $("#accNivel5").attr('maxlength',jsonData.accNivel5);
        $("#accNivel6").attr('maxlength',jsonData.accNivel6);
        $("#accNivel7").attr('maxlength',jsonData.accNivel7);
        $("#accNivel8").attr('maxlength',jsonData.accNivel8);
        $("#accNivel9").attr('maxlength',jsonData.accNivel9);
        $("#accNivel10").attr('maxlength',jsonData.accNivel10);
        $("#accNivel11").attr('maxlength',jsonData.accNivel11);
        $("#accNivel12").attr('maxlength',jsonData.accNivel12);
        $(".numeric").inputmask('Regex', {regex: "^[0-9]{1,6}$"});
    }

    //validar el maxlenth y la mascara al guardar
    function fnSaveAccountingAccount(){
        // is valid

        // puedo guardar
        nivel2= jsonData.accNivel1*1+jsonData.accNivel2*1
        nivel3= nivel2+jsonData.accNivel3*1
        nivel4= nivel3+jsonData.accNivel4*1
        nivel5= nivel4+jsonData.accNivel5*1
        nivel6= nivel5+jsonData.accNivel6*1
        nivel7= nivel6+jsonData.accNivel7*1
        nivel8= nivel7+jsonData.accNivel8*1
        nivel9= nivel8+jsonData.accNivel9*1
        nivel10= nivel9+jsonData.accNivel10*1
        nivel11= nivel10+jsonData.accNivel11*1
        nivel12= nivel11+jsonData.accNivel12*1
        newAccount = $('#aacCode').val();
        extraData=''

        if(newAccount.length==jsonData.accNivel1*1 || newAccount.length== nivel2 || newAccount.length==nivel3 || newAccount.length==nivel4 || newAccount.length==nivel5 || 
            newAccount.length== nivel6 || newAccount.length==nivel7 || newAccount.length==nivel8 || newAccount.length==nivel9 || newAccount.length== nivel10 || newAccount.length==nivel11 || newAccount.length==nivel12){
            $('#aacCodeToSave').val(putMask(newAccount))
            if($('#aacDirection').val()==2){
                $('#aacName').val($('#accName'+$('#levelToSave').val()).val())
            }

            if(($('#aacName').val()==''&&$('#aacDirection').val()==1) || ($('#accName'+$('#levelToSave').val()).val()==''&&$('#aacDirection').val()==2) ){
                fnOpenErrorDialog("El nombre de la cuenta es requerido");
            }
            else{                
                if($('#aacType').prop( "disabled")){
                    extraData="&aacType="+$('#aacType').val()
                }
                $.ajax({
                    type: "POST",
                    url: "/contab/saveAccountingAccount",
                    data: $('#accountingAccount').serialize()+extraData, //se envia el form serializado          
                    beforeSend: function(){ //se muestra una imagen mientras el ajax se ejecuta
                        showIsLoading("Procesando...");
                    }
                }).done(function (data) {  
                    clean()
                    fnOpenSusessDialog(data.message)          
                    hideIsLoading();                                             
                    //refreshTable();             
                }).fail(function (data) {
                    clean()
                    hideIsLoading();
                    fnOpenErrorDialog(data.responseJSON.message);
                })
            }                
        }
        else{
            fnOpenErrorDialog("Debe digitar un código de cuenta válida");
        }
    }

    $( "#aacCode" ).on( "keydown", function(event) {
        if(event.which == 13 && $('#aacCode').val().length > 0){
            fnSearch($('#aacCode').val())
        }         
    });
    
    $('#aacCode').change(function (){
        if($('#aacCode').val().length > 0){
            fnSearch($('#aacCode').val())
        }        
    })

    function createAccount(newAccount, accNivel, previousLevel){
        dataVal = newAccount
        diference= accNivel - newAccount.length
        if(previousLevel>0){
            dataVal = ''
            ultimo=''
            countDiference =0
            for(a=0; a<accNivel; a++){
                if(previousLevel> a){
                    dataVal =dataVal + newAccount.charAt(a)
                }
                else{
                    ultimo = ultimo + newAccount.charAt(a)
                    if(countDiference <diference){
                        dataVal = dataVal +'0'
                        countDiference =countDiference +1
                    }                    
                }               
            }
            dataVal = dataVal +ultimo

        }
        else{
            for(a=newAccount.length; a<accNivel; a++){
                dataVal = '0'+dataVal
            }
        }        
        $('#aacCode').val(dataVal)
        return dataVal
    }

    function fnSearch(){
        console.log($('#aacCode').val())
        newAccount = $('#aacCode').val();
        search =false;
        nivel2= jsonData.accNivel1*1+jsonData.accNivel2*1
        nivel3= nivel2+jsonData.accNivel3*1
        nivel4= nivel3+jsonData.accNivel4*1
        nivel5= nivel4+jsonData.accNivel5*1
        nivel6= nivel5+jsonData.accNivel6*1
        nivel7= nivel6+jsonData.accNivel7*1
        nivel8= nivel7+jsonData.accNivel8*1
        nivel9= nivel8+jsonData.accNivel9*1
        nivel10= nivel9+jsonData.accNivel10*1
        nivel11= nivel10+jsonData.accNivel11*1
        nivel12= nivel11+jsonData.accNivel12*1
        if(newAccount.length<jsonData.accNivel1){
            newAccount = createAccount(newAccount, jsonData.accNivel1, 0)
            search =true; 
        }
        if( newAccount.length== jsonData.accNivel1 || newAccount.length== nivel2 || newAccount.length==nivel3 || newAccount.length==nivel4 || newAccount.length==nivel5 || 
            newAccount.length== nivel6 || newAccount.length==nivel7 || newAccount.length==nivel8 || newAccount.length==nivel9 || newAccount.length== nivel10 || newAccount.length==nivel11 || newAccount.length==nivel12){
            newAccount=putMask(newAccount)
            search =true;            
        }
        else{
           
            if(newAccount.length<nivel2){
                newAccount =  createAccount(newAccount, nivel2, jsonData.accNivel1)
                search =true;
                newAccount=putMask(newAccount) 
            }
            else if(newAccount.length<nivel3){
                newAccount =  createAccount(newAccount, nivel3, nivel2)
                search =true;
                newAccount=putMask(newAccount) 
            }
            else if(newAccount.length<nivel4){
                newAccount =  createAccount(newAccount, nivel4, nivel3)
                search =true;
                newAccount=putMask(newAccount) 
            }
            else if(newAccount.length<nivel5){
                newAccount =  createAccount(newAccount, nivel5, nivel4)
                search =true;
                newAccount=putMask(newAccount) 
            }
            else if(newAccount.length<nivel6){
                newAccount =  createAccount(newAccount, nivel6, nivel5)
                search =true;
                newAccount=putMask(newAccount) 
            }
            else if(newAccount.length<nivel7){
                newAccount =  createAccount(newAccount, nivel7, nivel6)
                search =true;
                newAccount=putMask(newAccount) 
            }
            else if(newAccount.length<nivel8){
                newAccount =  createAccount(newAccount, nivel8, nivel7)
                search =true;
                newAccount=putMask(newAccount) 
            }
            else if(newAccount.length<nivel9){
                newAccount =  createAccount(newAccount, nivel9, nivel8)
                search =true;
                newAccount=putMask(newAccount) 
            }
            else if(newAccount.length<nivel10){
                newAccount =  createAccount(newAccount, nivel10, nivel9)
                search =true;
                newAccount=putMask(newAccount) 
            }
            else if(newAccount.length<nivel11){
                newAccount =  createAccount(newAccount, nivel11, nivel10)
                search =true;
                newAccount=putMask(newAccount) 
            }
            else if(newAccount.length<nivel12){
                newAccount =  createAccount(newAccount, nivel12, nivel11)
                search =true;
                newAccount=putMask(newAccount) 
            }
        }
        if(search){
            //obtener el nombre del nivel si existe
            $.ajax({
                type: "GET",
                url: "/contab/getAccountingAccountSearch/"+$('#accId').val()+"?aacCode="+newAccount+"&aacNivelFirst="+$('#aacNivelFirst').val()+"&levelToSave="+$('#levelToSave').val()+"&aacNivelBefore="+$('#aacNivelBefore').val(),       
                beforeSend: function(){ //se muestra una imagen mientras el ajax se ejecuta
                    showIsLoading("Procesando...");
                }
            }).done(function (data) {  
                console.log(data)
                $('.search input').val(newAccount+"*").trigger('keyup');
                $('#aacCodeToSave').val(newAccount)
                if(data.accountingAccount!=null){
                    $('#aacName').val(data.accountingAccount.aacName);
                }
                else{
                    $('#aacName').val('');
                }
                console.log(data.accountingAccountRaiz)
                if($('#levelToSave').val()>1 &&  data.accountingAccountRaiz!=null){
                    $('#aacType').val(data.accountingAccountRaiz.aacType).trigger('change');
                    $('#aacType').prop( "disabled", true );
                }
                //aacNivelBefore
                if($('#levelToSave').val()>1 && data.accountingAccountRaizPrevios==null) {
                    fnOpenErrorDialog("La cuenta digitada, no se ha registrado la cuenta padre "+$('#aacNivelBefore').val());
                }

                hideIsLoading();                                         
            }).fail(function (data) {
                hideIsLoading();
                fnOpenErrorDialog(data.responseJSON.message);
            })
        }
    }

    function putMask(dataMask){
        newDataWithMask =''
        nivel2= jsonData.accNivel1*1+jsonData.accNivel2*1
        nivel3= nivel2+jsonData.accNivel3*1
        nivel4= nivel3+jsonData.accNivel4*1
        nivel5= nivel4+jsonData.accNivel5*1
        nivel6= nivel5+jsonData.accNivel6*1
        nivel7= nivel6+jsonData.accNivel7*1
        nivel8= nivel7+jsonData.accNivel8*1
        nivel9= nivel8+jsonData.accNivel9*1
        nivel10= nivel9+jsonData.accNivel10*1
        nivel11= nivel10+jsonData.accNivel11*1
        nivel12= nivel11+jsonData.accNivel12*1
        levelToSave = 1
        for(var a=0;  a<dataMask.length; a++){	
            if(jsonData.accNivel1==a||nivel2==a||nivel3==a||nivel4==a||nivel5==a||nivel6==a||nivel7==a||nivel8==a||nivel9==a||nivel10==a||nivel11==a||nivel12==a){
                $('#aacNivelBefore').val(newDataWithMask)
                if(jsonData.accNivel1==a){
                    $('#aacNivelFirst').val(newDataWithMask)
                }
                levelToSave = levelToSave+1
                newDataWithMask = newDataWithMask+accSeparator
            }	            															
            newDataWithMask = newDataWithMask+dataMask.charAt(a)		
        }   
        // debo buscar el primer nivel para el manejo de tipo de cuenta y saldo y bloquear tipo de cuenta
        $('#levelToSave').val(levelToSave)
        return newDataWithMask
    }

    function clean(){
        $('.search input').val('').trigger('keyup');
        $('#aacCodeToSave').val('')
        $('#aacNivelBefore').val('')
        $('#aacName').val('')
        $('#aacCode').val('')
        $('#aacObservations').val('')
        $('#aacFuncionality').val('')
        $('#aacCode').val('')
        for(var a=1;  a<13; a++){																	
            $('#accNivel'+a).val('')
            $('#accName'+a).val('')	
            if(a>1){
                $('#accNivel'+a).prop( "disabled", true );
                $('#accName'+a).prop( "disabled", true );  
            }    		
        }  
        $('#inactiveButton').hide()
        $('#divStatus').hide()
        $('#activeButton').hide()
        $('#deleteButton').hide()
        $('#aacNivelFirst').val('')
        $('#aacType').attr('disabled',false).trigger('change');
        $('#aacId').val('')
    }
    ////// vertical
    function fnSearchVertical(data, level){
        level=level*1
        dataToSearch = $('#accNivel1').val()
        search = false;
        for(var a=2;  a<=level; a++){
            //invalido para guardar o buscar	
            if($('#accNivel'+a).val()==''){
                return search;
            }																
            dataToSearch=dataToSearch+$('#accNivel'+a).val()        
        }   
        $('#aacCode').val(dataToSearch)
        dataToSearch =putMask(dataToSearch)
        $('#aacCodeToSave').val(dataToSearch)
        //acordame de llenar los otros
        search =true;
        if(search){
            $('.search input').val(dataToSearch+"*").trigger('keyup');
            //obtener el nombre del nivel si existe
            $.ajax({
                type: "GET",
                url: "/contab/getAccountingAccountSearch/"+$('#accId').val()+"?aacCode="+dataToSearch,      
                beforeSend: function(){ //se muestra una imagen mientras el ajax se ejecuta
                    showIsLoading("Procesando...");
                }
            }).done(function (data) {  
                
                if(data.accountingAccount!=null){
                    $('#accName'+level).val(data.accountingAccount.aacName)	  
                    $('#aacType').val(data.accountingAccount.aacType).trigger('change');
                    $('#aacTypeBalance').val(data.accountingAccount.aacTypeBalance).trigger('change'); 
                    $('#aacMoney').val(data.accountingAccount.aacMoney).trigger('change'); 
                    if($('#aacId').val()==''){
                        $('#accName'+level).prop( "disabled", true );
                    }
                    else if(level>1){
                        for(a=1; a<level;a++){
                            $('#accName'+a).prop( "disabled", true );
                        }
                    }
                    else {
                        $('#accName'+level).prop( "disabled", false );
                    }                    

                    //enable next level
                    level=level+1                    
                    $('#levelToSave').val(level)
                    if($('#levelToSave').val()>1){                        
                        $('#aacType').prop( "disabled", true );
                    } 
                    if($('#aacId').val()==''){
                        $('#accNivel'+level).prop( "disabled", false );
                        $('#accName'+level).prop( "disabled", false );  
                        $("#accNivel"+level).focus();
                        for(var a=level;  a<13; a++){																	
                            $('#accNivel'+a).val('')
                            $('#accName'+a).val('')	 
                            if(a>level){
                                $('#accNivel'+a).prop( "disabled", true );  	
                                $('#accName'+a).prop( "disabled", true );  	
                            }
                        }         
                    }
                         
                }
                else{
                    $('#levelToSave').val(level)
                    $("#accName"+level).focus();   	
                    $('#accName'+level).val('')
                    for(var a=level+1;  a<13; a++){																	
                        $('#accNivel'+a).val('')
                        $('#accName'+a).val('')	
                        $('#accNivel'+a).prop( "disabled", true );
                        $('#accName'+a).prop( "disabled", true );   
                        	
                    }                    
                }

                hideIsLoading();                                         
            }).fail(function (data) {
                hideIsLoading();
                fnOpenErrorDialog(data.responseJSON.message);
            })
        }
    }

    for(var aIndex=1;  aIndex<13; aIndex++){	
        $( "#accNivel"+aIndex ).on( "keydown", function(event) {
            if(event.which == 13||event.which == 9){
                if($(this).attr('maxlength') == $(this).val().length){
                    fnSearchVertical($(this).val(), $(this).attr('position'))
                }
                if($(this).val().length>0){
                    dataVal = $(this).val()
                    for(a=$(this).val().length; a<$(this).attr('maxlength'); a++){
                        dataVal = '0'+dataVal
                    }
                    $(this).val(dataVal)
                    fnSearchVertical(dataVal, $(this).attr('position'))
                }                
            }         
        });
        
        $('#accNivel'+aIndex).change(function (aIndex){
            if($(this).attr('maxlength') == $(this).val().length){
                fnSearchVertical($(this).val(), $(this).attr('position'))
            }                
            if($(this).val().length>0){
                dataVal = $(this).val()
                for(a=$(this).val().length; a<$(this).attr('maxlength'); a++){
                    dataVal = '0'+dataVal
                }
                $(this).val(dataVal)
                fnSearchVertical(dataVal, $(this).attr('position'))
            } 
        })
    }

    function loadDataVertical(data){
        dataToSee =''
        nivel2= jsonData.accNivel1*1+jsonData.accNivel2*1
        nivel3= nivel2+jsonData.accNivel3*1
        nivel4= nivel3+jsonData.accNivel4*1
        nivel5= nivel4+jsonData.accNivel5*1
        nivel6= nivel5+jsonData.accNivel6*1
        nivel7= nivel6+jsonData.accNivel7*1
        nivel8= nivel7+jsonData.accNivel8*1
        nivel9= nivel8+jsonData.accNivel9*1
        nivel10= nivel9+jsonData.accNivel10*1
        nivel11= nivel10+jsonData.accNivel11*1
        nivel12= nivel11+jsonData.accNivel12*1

        for(var a=0;  a<=data.length; a++){	
            		
            if(jsonData.accNivel1==a){                
                $('#accNivel1').val(dataToSee).change();
                dataToSee =''
            }
            if(nivel2==a){
                console.log(dataToSee,'dataToSee')
                $('#accNivel2').val(dataToSee).change();
                $('#accNivel2').prop( "disabled", false );   
                $('#accName2').prop( "disabled", false );  
                dataToSee ='' 
            }
            if(nivel3==a){
                $('#accNivel3').val(dataToSee).change();
                $('#accNivel3').prop( "disabled", false );   
                $('#accName3').prop( "disabled", false );  
                dataToSee ='' 
            }
            if(nivel4==a){
                $('#accNivel4').val(dataToSee).change();
                $('#accNivel4').prop( "disabled", false );   
                $('#accName4').prop( "disabled", false );  
                dataToSee ='' 
            }
            if(nivel5==a){
                $('#accNivel5').val(dataToSee).change();
                $('#accNivel5').prop( "disabled", false );   
                $('#accName5').prop( "disabled", false );  
                dataToSee ='' 
            }
            if(nivel6==a){
                $('#accNivel6').val(dataToSee).change();
                $('#accNivel6').prop( "disabled", false );   
                $('#accName6').prop( "disabled", false );  
                dataToSee ='' 
            }
            if(nivel7==a){
                $('#accNivel7').val(dataToSee).change();
                $('#accNivel7').prop( "disabled", false );   
                $('#accName7').prop( "disabled", false );  
                dataToSee ='' 
            }
            if(nivel8==a){
                $('#accNivel8').val(dataToSee).change();
                $('#accNivel8').prop( "disabled", false );   
                $('#accName8').prop( "disabled", false );  
                dataToSee ='' 
            }
            if(nivel9==a){
                $('#accNivel9').val(dataToSee).change();
                $('#accNivel9').prop( "disabled", false );   
                $('#accName9').prop( "disabled", false );  
                dataToSee ='' 
            }
            if(nivel10==a){
                $('#accNivel10').val(dataToSee).change();
                $('#accNivel10').prop( "disabled", false );   
                $('#accName10').prop( "disabled", false );  
                dataToSee ='' 
            }
            if(nivel11==a){
                $('#accNivel11').val(dataToSee).change();
                $('#accNivel11').prop( "disabled", false );   
                $('#accName11').prop( "disabled", false );  
                dataToSee ='' 
            }
            if(nivel12==a){
                $('#accNivel12').val(dataToSee).change();
                $('#accNivel12').prop( "disabled", false );   
                $('#accName12').prop( "disabled", false );  
                dataToSee ='' 
            }
	            															
            dataToSee = dataToSee+data.charAt(a)
        } 
    }

    function loadFile() {
        if($('#sendNewFile').valid()){
            var fileUpload = document.getElementById("newFile");
            var formData = new FormData();
            formData.append('newFile', $("#newFile")[0].files[0]);
            $.ajax({
                type: "POST",
                url: "/contab/loadFile/"+$("#accId").val()+"?busId="+$("#busId").val(),
                data: formData,
                contentType: false,
                processData: false,
                beforeSend: function(){ //se muestra una imagen mientras el ajax se ejecuta
                    showIsLoading("Procesando...");
                }
            }).done(function (data) {
                fnOpenSusessDialog("Se ha guardado con exito");
                $("#newFile").val("");
                $("#modalImportFile").modal("hide");
                //recordame que debo actualizar la tabla
                refreshTable();                
            }).fail(function (data) {
                $("#modalImportFile").modal("hide");
                $("#newFile").val("");
                hideIsLoading();
                fnOpenErrorDialog(data.responseJSON.message);
                refreshTable(); 
            }).always(function (data) {
                hideIsLoading();
            });
        }
    }
    $('#sendNewFile').validate({
        errorElement: 'label', //default input error message container
        errorClass: 'help-inline', // default input error message class
        ignore: "",
        rules: {
            newFile: { required: true}
        },
        messages: { // custom messages
            newFile: { required: "Debe buscar y seleccionar el archivo xls." }
        },
        highlight: function (element) { // hightlight error inputs
            $(element).closest('.control-group').addClass('error'); // set error class to the control group
        },
        success: function (label) {
            label.closest('.control-group').removeClass('error');
            label.remove();
        },
        errorPlacement: function (error, element) {
            if (element.closest('.icon-search').size() === 1) {
                error.addClass('help-small no-left-padding').insertAfter(element.closest('.icon-search'));
            } else if (element.next().attr("class")){
                error.addClass('help-small no-left-padding').insertAfter(element.next());
            } else {
                error.addClass('help-small no-left-padding').insertAfter(element);
            }
        }
    });

    function cleanLoadfile(){
        $("#newFile").val("");
    }

    function fnDeleteConfirm(){
        fnOpenConfirmDialog('¿Deseas eliminar la cuenta contable?');
        $('#pp_confirm_accept_btn').on("click", function(){
            $.ajax({
                type: "POST",
                url: "/contab/deleteAccount/"+$('#aacId').val(),		
                beforeSend: function(){ //se muestra una imagen mientras el ajax se ejecuta
                    showIsLoading("Procesando...");
                }
            }).done(function (data) {	
                hideIsLoading();
                clean();
                refreshTable();
                fnOpenSusessDialog("Se ha eliminado con exito");
            }).fail(function (data) {
                clean()	
                hideIsLoading();
                fnOpenErrorDialog(data.responseJSON.message);
            }).always(function (data) {
                hideIsLoading();
            });
        });

    }
</script>