<% include partials/header %>
	<!-- BEGIN PAGE -->
	<div class="page-content">
			<!-- BEGIN PAGE CONTAINER-->
			<div class="container-fluid">
				<!-- BEGIN PAGE HEADER-->
				<div class="row-fluid">
					<div class="span12">
						<h3>Asignar permisos a usuarios de catálogos</h3>
					</div>
				</div>

				<div class="row-fluid">
						<div class="span12">
							<!-- BEGIN EXAMPLE TABLE PORTLET-->
							<div class="portlet box light-grey">
								<div class="portlet-title">
									
								</div>
								<div class="portlet-body">									
                                    <form id="assignCatalogPermit" name="assignCatalogPermit" action="#">
                                        <div class="row-fluid">
                                            <div class="control-group span4 ">
                                                <label for="accCode">
                                                    Empresa
                                                </label>
                                                <div class="controls">
                                                    <% if(business.length == 0) { %>   
                                                        No hay empresas disponibles
                                                    <%} else {%>
                                                    <select id="busId" name="busId" class="span6 select2">   
                                                        <% for(var j = 0; j < business.length; j++) { %>   
                                                            <option value="<%=business[j].busId%>"> <%=business[j].busName%></option>
                                                        <% }%>
                                                    </select>
                                                    <% }%>
                                                </div>
                                            </div>
                                            <div class="control-group span4 ">                                              
                                                <label for="accCode">
                                                   Usuario
                                                </label>
                                                <div class="controls">        
                                                    <select id="useId" name="useId" class="span6 select2">   
                                                        <% for(var b = 0; b < users.length; b++) { %>   
                                                            <option value="<%=users[b].useId%>"> <%=users[b].useName%></option>
                                                        <% }%>
                                                    </select>                                            
                                                </div>
                                            </div>
                                            <div class="control-group span4 ">                                              
                                                <label for="accCode">
                                                   Permiso
                                                </label>
                                                <div class="controls">        
                                                    <select id="permitId" name="permitId" class="span6 select2">                                                       
                                                        <option value="1"> Consultar</option>
                                                        <option value="2"> Modificar</option>
                                                    </select>                                            
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row-fluid">
                                            <div class="control-group span4 ">
                                                <input type="hidden" value="" name="accId" id="accId">
                                                <label for="accCode">
                                                    Catálogo contable definido
                                                </label>
                                                <div class="controls" id="accIdName">                                                    
                                                </div>
                                            </div>	
                                            <div class="control-group span4 ">
                                                <label for="accCode">
                                                    Tipo de catálogo
                                                </label>
                                                <div class="controls" id="accIsGlobal">                                                    
                                                </div>
                                            </div>
                                            <div class="control-group span4 ">
                                                <button id="addAsign" type="button"  class="btn green" onclick="fnSavePermit()">
                                                    Agregar <i class="icon-plus"></i>
                                                </button>     
                                            </div>							
                                        </div>
                                    </form>
									<table id="listAsignPermit" class="bt-table"
										data-side-pagination="server"
										data-pagination="true"
										data-page-size="10"
										data-page-list="[10, 20, 30]"
										data-search="true">
									</table>
								</div>
							</div>
							<!-- END EXAMPLE TABLE PORTLET-->
						</div>
					</div>
			</div>
			
	</div>	


<% include partials/footer %>
<script type="text/javascript">
	$(document).ready(function(){
        $('#useId').select2({});
        $('#busId').select2({});
        $('#permitId').select2({});
        $("#busId, #permitId, #useId").on("select2-opening", function() {
			$('.select2').select2("close");
		});
        <% if(business.length == 0) { %>

        <%} else {%>
            handleTableData();
            fnGetCatalog();	
            setTimeout(function(){ $('.search input').attr('placeholder','Buscar por catálogo o usuario')   }, 100);    
        <% }%>
	});
	isFirtsDatatable = true;
	function handleTableData () {
		$('#listAsignPermit').bootstrapTable({
			height: getHeight(),
			method: 'GET',
			url: '/contab/assignHistory/'+$('#busId').val(),
			cache: false,
			columns: [
				{
					field: 'accountingCatalog.accName',
					title: 'Catálogo',
					sortable: true,
					width: '20%'
				}, {
					field: 'accountingCatalog.accCode',
					title: 'Número',
					sortable: true,
					width: '3%'
				}, {
					field: 'accountingCatalog.accIsGlobal',
					title: 'Tipo Catálogo',
					sortable: false,
                    width: '15%',
					formatter: operateFormatter
				}, {
					field: 'user.useName',
					title: 'Usuario',
					sortable: false,
                    width: '15%'
				}, {
					field: 'permitId',
					title: 'Opcion',
					sortable: false,
                    width: '15%',
					formatter: operateFormatter2
                }, {
					field: 'bupId',
					title: 'Eliminar',
					sortable: false,
                    width: '15%',
					formatter: operateFormatter3
                }
                
			]
		});
	};
	function getHeight() {
		return $(window).height();
    }
    
    function operateFormatter(value, row, index) {
        return [
            ((row.accountingCatalog.accIsGlobal == 1) ? "Global" : "Individual"),
        ].join('');
    }
    function operateFormatter2(value, row, index) {
        return [
            ((row.permitId == 1) ? "Consultar" : "Modificar"),
        ].join('');
    }
    function operateFormatter3(value, row, index) {
        return [
            "<button type='button' class='btn red",
            " btnActiveInactive' onclick='fnEliminar("+ row.bupId +")'>",
            "<i class='icon-off'></i> ",
           "Eliminar",
            "</button>"
        ].join('');
    }

    function refreshTable() {
        $('.bt-table').bootstrapTable('refresh', {silent: true});
    }
	function fnSavePermit(){
		$.ajax({
            type: "POST",
			url: "/contab/saveAsignPermit",
            data: $('#assignCatalogPermit').serialize(), //se envia el form serializado          
            beforeSend: function(){ //se muestra una imagen mientras el ajax se ejecuta
                showIsLoading("Procesando...");
            }
        }).done(function (data) {  
            fnOpenSusessDialog(data.message)          
            hideIsLoading();                         
            setTimeout(function(){ refreshTable(); }, 300);
        }).fail(function (data) {
            hideIsLoading();
            fnOpenErrorDialog(data);
        })
    }
    function fnEliminar(id){
		$.ajax({
            type: "POST",
			url: "/contab/deleteAssignHistory/"+id,            
            beforeSend: function(){ //se muestra una imagen mientras el ajax se ejecuta
                showIsLoading("Procesando...");
            }
        }).done(function (data) {            
            hideIsLoading(); 
            fnOpenSusessDialog(data.message)
			refreshTable();
        }).fail(function (data) {
            hideIsLoading();
            fnOpenErrorDialog(data);
        })
    }

	function fnGetCatalog(){
		$.ajax({
            type: "GET",
			url: "/contab/getCatalog/"+$('#busId').val(),		
            beforeSend: function(){ //se muestra una imagen mientras el ajax se ejecuta
                showIsLoading("Procesando...");
            }
        }).done(function (data) {	
            hideIsLoading();	
            $('#accIdName').html(data.accountCatalog.accName);
            $('#accId').val(data.accountCatalog.accId);
            if(data.accountCatalog.accIsGlobal==1){
                $('#accIsGlobal').html('Global')
            }
            else{
                $('#accIsGlobal').html('Individual')
            }
        }).fail(function (data) {
            hideIsLoading();
            fnOpenErrorDialog(data.responseJSON.message);
        }).always(function (data) {
            hideIsLoading();
        });
    }

    $('#busId').change(function (){
        $.ajax({
            type: "GET",
			url: "/contab/getCatalog/"+$('#busId').val(),			
            beforeSend: function(){ //se muestra una imagen mientras el ajax se ejecuta
                showIsLoading("Procesando...");
            }
        }).done(function (data) {	
            hideIsLoading();	
            $('#accIdName').html(data.accountCatalog.accName);
            if(data.accountCatalog.accIsGlobal==1){
                $('#accIsGlobal').html('Global')
            }
            else{
                $('#accIsGlobal').html('Individual')
            }
           
        }).fail(function (data) {
            hideIsLoading();
            fnOpenErrorDialog(data.responseJSON._error.message);
        }).always(function (data) {
            hideIsLoading();
        });
    })

</script>